<div class="container">
  <h3>NGL visualiser</h3>
  <div class="row">
    <div class="col">
      <p>
        Copy-paste structure Id (4HBH, 1CRN...)
      </p>
      <p>
          <a href="http://mmtf.rcsb.org/download.html" target="_blank">API example</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <label class="form-label">Structure ID</label>
    </div>
    <div class="col">
      <input type="text" [formControl]="fileAddressInput" class="form-control" placeholder="Structure ID" />
    </div>
    <div class="col">
      <button (click)="visualize()" class="btn btn-primary">Visualize</button>
    </div>
  </div>
  <div *ngIf="!isFailed; then vis; else err"></div>

  <div class="row">
      <div class="col">
        <div id="viewport" style="width:400px; height:300px;"></div>
      </div>
    </div>
</div>

<ng-template #err>
  <div class="alert alert-danger" role="alert">
      Something goes wrong, check structure Id
  </div>
</ng-template>

<ng-template #vis>
    <div class="row">
        <div class="col">
          <h4>Visualization of {{visualizedId}}</h4>
        </div>
      </div>
      <div class="row">
        <p>Used <a href="https://github.com/nglviewer/ngl" target="_black">https://github.com/nglviewer/ngl</a></p>
      </div>
</ng-template>
