<div class="input-group input-group-sm row">
    <label for="inputPassword" class="col-sm-2 col-form-label g-0"><small>from</small></label>
    <div class="col-sm-5">
        <input [formControl]="fromControl" type="number" size="4" class="form-control form-control-sm g-0"/>
    </div>
    <label for="inputPassword" class="col-sm-1 col-form-label g-0"><small>to</small></label>
    <div class="col-sm-4">
        <input [formControl]="toControl" type="number" size="4" class="form-control form-control-sm g-0"/>
    </div>
</div>

