<div *ngIf="allShown">
  <div class="alert alert-success" role="alert">
    No hidden framesIndecies!
  </div>
</div>
<div *ngIf="!allShown">
  <div class="alert alert-danger" role="alert">
    Hidden frameIndecies from <b>{{from.value}}</b> to <b>{{to.value}}</b>.
  </div>
</div>
  Hide frames&nbsp;

  <label>from
    <input [formControl]="from" type="number">
  </label>&nbsp;

  <label> to
    <input [formControl]="to" type="number" />
  </label>&nbsp;

  <button (click)="hide(true)" class="btn btn-secondary">Hide</button>&nbsp;
  <button (click)="hide(false)" class="btn btn-secondary">Show All</button>

