<div class="logical-container" *ngIf="selected && selected.id; else nothingIsSelected">
  <div class="row">
    <div class="col-sm-12">Feature name: {{selected.name}} (id: {{selected.id}})</div>
  </div>
  <div class="row">
    <div class="col-sm-12">Involved atom serials:&nbsp;
      <span *ngFor="let serial of selected.involvedAtomSerials">{{serial}}&nbsp;</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">Superfeature occurances</div>
  </div>
  <div class="row">
    <div class="col-sm-12" class="occurances">
        <span *ngFor="let frame of globalFrames; let i = index">
          <span *ngIf="selected.frameIndecies[frame]" [title]="frame + ' is present'" class="isPresent">.</span>
          <span *ngIf="!selected.frameIndecies[frame]" [title]="frame + ' is not present'">.</span>
        </span>
    </div>
  </div>
</div>

<ng-template #nothingIsSelected>
    <div class="logical-container">
      <div class="alert alert-primary" role="alert">
        Select feature cloud to display involved atoms and frames
      </div>
    </div>
</ng-template>
