<div *ngIf="allShown">
  <div class="alert alert-success" role="alert">
    No selected framesIndecies!
  </div>
</div>
<div *ngIf="!allShown">
  <div class="alert alert-danger" role="alert">
    Playing frameIndecies from <b>{{from.value}}</b> to <b>{{to.value}}</b>.
  </div>
</div>
  Play only frames&nbsp;

  <label>from
    <input [formControl]="from" type="number">
  </label>&nbsp;

  <label> to
    <input [formControl]="to" type="number" />
  </label>&nbsp;

  <button (click)="playSelected(true)" class="btn btn-secondary">Play selected</button>&nbsp;
  <button (click)="playSelected(false)" class="btn btn-secondary">Play All</button>

