<div class="container">
  <header class="d-flex justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Dynophores Webapp</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/" class="nav-link"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ngl" class="nav-link"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">NGL-Viewer</a>
      </li>
    </ul>
  </header>

  <router-outlet></router-outlet>
</div>

