@import "_variables";

.site-header {
  background-color: $footerColor;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  a {
    color: $aColor;
    transition: color .15s ease-in-out;
  }

  a:hover, a.active {
    color: $aActiveColor;
    text-decoration: none;
  }
}

.site-footer {
  background-color: $footerColor;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: $textColor;

  a {
    color: $aColor;
    transition: color .15s ease-in-out;
  }

  a:hover, a.active {
    color: $aActiveColor;
    text-decoration: none;
  }
}

