<header class="site-header py-1  mb-2">
  <nav class="container-fluid d-flex flex-column flex-md-row justify-content-between">
    <a
      routerLink="/"
      class="py-2 d-none d-md-inline-block"
      routerLinkActive="active"
    >
      Dynophore-Viewer
    </a>
  </nav>
</header>

<main class="container-fluid d-flex align-content-start height-100">
    <dyno-home></dyno-home>
</main>

<footer class="mt-auto site-footer py-1">
  <div class="container-fluid">
    <p>
    </p>
  </div>
</footer>
