<div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-sm width-100" role="group" aria-label="Zoom">
      <button
        type="button"
        class="btn btn-outline-secondary"
        title="Zoom In">
        <i class="bi bi-zoom-in"></i>&nbsp;<span class="invisible-1399">Zoom&nbsp;In</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        title="Default">
        <i class="bi bi-octagon"></i>&nbsp;<span class="invisible-1399">Default</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        title="Zoom Out">
        <i class="bi bi-zoom-out"></i>&nbsp;<span class="invisible-1399">Zoom&nbsp;Out</span>
      </button>
    </div>
  </div>
</div>
