<div class="row">
    <div class="col-sm-4">PDB File</div>
    <div class="col-sm-8">
      <dyno-file-upload type="pdb"></dyno-file-upload>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">PML File</div>
    <div class="col-sm-8">
      <dyno-file-upload type="pml"></dyno-file-upload>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">DCD File</div>
    <div class="col-sm-8">
      <dyno-file-upload type="dcd"></dyno-file-upload>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button
          type="button"
          class="btn btn-primary width-100"
          (click)="draw()"
          title="Draw"
          [disabled]="!allowToDraw">
          <i class="bi bi-brush-fill"></i>&nbsp;<span>Draw</span>
      </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-group-sm width-100" role="group" aria-label="Zoom">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="setCloudVisibility(false)"
          title="Hide all clouds">
          <i class="bi bi-cloud-minus-fill"></i>&nbsp;<span>Hide&nbsp;all&nbsp;clouds</span>
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="setCloudVisibility(true)"
          title="Show all clouds">
          <i class="bi bi-cloud-plus-fill"></i>&nbsp;<span>Show&nbsp;all&nbsp;clouds</span>
        </button>
      </div>

    </div>
</div>

<!--div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-sm width-100" role="group" aria-label="Zoom">
      <button
        type="button"
        class="btn btn-outline-secondary"
        title="Zoom In">
        <i class="bi bi-zoom-in"></i>&nbsp;<span class="invisible-1399">Zoom&nbsp;In</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        title="Default">
        <i class="bi bi-octagon"></i>&nbsp;<span class="invisible-1399">Default</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        title="Zoom Out">
        <i class="bi bi-zoom-out"></i>&nbsp;<span class="invisible-1399">Zoom&nbsp;Out</span>
      </button>
    </div>
  </div>
</div-->
